<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/btnslider.css">
</head>
<body>
    <div style="position: relative; background: #000;">
        <div class="container">
          <div class="wrapper">
            <div class="btn btn-1">
              <p>Hover over me</p>
            </div>
             
            <div class="btn btn-2">
              <p>Hover over me</p>
            </div>
           
            <div class="btn btn-3">
              <p>Hover over me</p>
            </div>
           
            <div class="btn btn-4">
              <p>Hover over me</p>
            </div>
          </div>
        </div>
      
      </div>
</body>
</html>