 <div class="wrapper">
        <div class="btn btn-1">
          <p>Hover over me</p>
        </div>
         
        <div class="btn btn-2">
          <p>Hover over me</p>
        </div>
       
        <div class="btn btn-3">
          <p>Hover over me</p>
        </div>
       
        <div class="btn btn-4">
          <p>Hover over me</p>
        </div>
       
        <div class="btn btn-5">
          <p>Hover over me</p>
        </div>
        
        <div class="btn btn-6">
          <p>Hover over me</p>
        </div>
   </div>