<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Darknessbtn.css">
</head>
<body>
<!-- Darkness Button -->
    <div>
        <button class="noselect red">Darkness</button>
        <button class="noselect green">Darkness</button>
    </div>
    <div>
        <button class="noselect blue">Darkness</button>
        <button class="noselect purple">Darkness</button>
    </div>
</body>
</html>
