<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/select.css">
</head>

<body>
    <!-- multpul option -->

    <div class="select-menu">
        <div class="select-btn">
            <span class="sBtn-text">Select your option</span>
        </div>
        <ul class="options">
            <li class="option">
                <span class="option-text">Github</span>
            </li>
            <li class="option">
                <span class="option-text">Instagram</span>
            </li>
            <li class="option">
                <span class="option-text">Linkedin</span>
            </li>
            <li class="option">
                <span class="option-text">Facebook</span>
            </li>
            <li class="option">
                <span class="option-text">Twitter</span>
            </li>
        </ul>
    </div>

    <script src="../js/script.js"></script>
    <!-- multpul option -->
</body>

</html>