<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/tooltip.css">
</head>

<body>

  <div>
    <abbr class="tooltip tooltip--top" data-tooltip="Tooltip Text Top">Top</abbr>
    <abbr class="tooltip tooltip--bottom" data-tooltip="Tooltip Text Bottom">Bottom</abbr>
    <abbr class="tooltip tooltip--left" data-tooltip="Tooltip Text Left">Left</abbr>
    <abbr class="tooltip tooltip--right" data-tooltip="Tooltip Text Right">Right</abbr>
  </div>

</body>

</html>